<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">

        <li>
          <a href="/">Dashboard</a>
        </li>
        <!--<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="account-menu">Account <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="account-menu">
            <li><a href="/account/configuration.html">Configuration</a></li>
            <li><a href="/account/mirroring.html">Mirroring</a></li>
          </ul>
        </li>-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="strategy-menu">Strategy <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="strategy-menu">
            <li><a href="/strategy/configuration/">Configuration</a></li>
            <li><a href="/strategy/metrics/">Metrics</a></li>
            <li><a href="/strategy/backtest/">Backtest</a></li>
            <li class="divider"></li>
            <li><a href="/strategy/editor/">Editor</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="trades-menu">Trades <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="trades-menu">
            <li><a href="/trades/in-progress/">In Progress</a></li>
            <li><a href="/trades/history/">History</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="configuration-menu">System <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="configuration-menu">
            <li><a href="/configuration/global/">Global Settings</a></li>
            <li><a href="/configuration/modules/">Modules</a></li>
            <li class="divider"></li>
            <li><a href="/account/configuration/">Accounts</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="account-switcher">Console <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a href="#">andyw2</a></li>
            <li><a href="#">andyw3</a></li>
            <li class="divider"></li>
            <li><a href="/account/configuration.html">Edit Accounts...</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>  